@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Quicksand:700');

body {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

header h1 {
  height: 0;
  margin: 0px;
  margin-left: -1000000px;
}

.svg {
  width: 50%;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: off;
  background-color: #f0efef;
  padding: 10px;
  color: rgb(26, 24, 34);
}

nav a:hover {
  text-decoration: underline;
  color: rgb(145, 156, 206);
}

h1, h2 {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

div {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f0efef;
}

#left {
  position: absolute;
  width: 48%;
  float: left;
  margin-right: 4%;
  overflow: visible;

}

#right {
  position: relative;
  width: 48%;
  float: right;
  overflow: auto;
}


.clear-me {
  clear: both;
}

#about {
  border-bottom: 1px;
  border-color: black;
}

#education {
  border-bottom: 1px;
  border-color: black;
}

#work {
  border-bottom: 1px;
  border-color: black;
}
