@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Quicksand:700');

body {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#container {
  background-color: #F9F9F9;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: off;
  color: rgb(26, 24, 34);
}

a:visited {
  text-decoration: underline;
  color: rgb(59, 66, 97);
}

a:hover {
  text-decoration: underline;
  color: rgb(145, 156, 206);
}

a:active {
  text-decoration: underline;
  color: rgb(145, 156, 206);
}

h2 {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: rgb(145, 156, 206);
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

header h1 {
  height: 0;
  margin: 0px;
  margin-left: -1000000px;
}

main {
  overflow: auto;
}

main ul {
  list-style: none;
  padding-left: 20px;
}

nav {
  margin-bottom: 20px;
  background-color: #E5E5E5;
  padding: 10px;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0 10px 0 0;
  border-right: 1px solid black;
  margin: 0 10px 0 0;
}

nav li:last-child {
  border-right: 0;
}

footer {
  height: 0;
  margin: 0px;
  margin-left: -1000000px;
}

#left {
  width: 45%;
  float: left;
  overflow: visible;
  padding-left: 20px;
}

#right {
  width: 45%;
  border-left: 1px solid #E5E5E5;
  float: right;
  overflow: visible;
  padding-left: 20px;
}

#about, #education, #work {
  border-bottom: 1px solid #E5E5E5;
}

#bbp-logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 20px;
}

.svg {
  width: 50%;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.flay {
  overflow: auto;
  clear: both;
  margin-bottom: 20px;
}

.left-flay {
  float: left;
  width: 470px;
  height: auto;
}

.right-flay {
  float: right;
  width: 470px;
  height: auto;
}

.about-me {
  overflow: auto;
}

.me {
  float: left;
  margin-right: 20px;
}
