@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Quicksand:700');

body {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

h1, h2 {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

div {
  background-color: #f0efef;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

#left {
  position: absolute;
  width: 48%;
  float: left;
  margin-right: 4%;
  overflow: auto;

}

#right {
  position: relative;
  width: 48%;
  float: right;
  overflow: auto;
}


.clear-me {
  clear: both;
}

#about {
  border-bottom: 1px;
  border-color: black;
}

#education {
  border-bottom: 1px;
  border-color: black;
}

#work {
  border-bottom: 1px;
  border-color: black;
}
